<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="TCC.My.MySettings.DB_LocadoraConnectionString" connectionString="Data Source=.;Initial Catalog=DB_Locadora;User ID=sa;Password=123456">-->
         <add name="TCC.My.MySettings.DB_LocadoraConnectionString" connectionString="Server=ZAPW10093\SQLEXPRESS;Database=DB_Locadora;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
